<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.yaoshan.product.mapper.ProductCategoryMapper">

    <select id="selectAllCategories" resultType="com.example.yaoshan.model.ProductCategory">
        SELECT * FROM product_category ORDER BY sort ASC, create_time DESC
    </select>
</mapper>